# Puerto
PORT=3000

# Base de datos PostgreSQL
DB_HOST=192.99.154.142
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tk0bX4CDA32JWm8pNfiYJ14PT3o0J1p6svNp4UNq8OidntFEEAiazOMyLj3RXMa9
DB_DATABASE=privada_hub

# CORS - URL del frontend
CORS_ORIGIN=http://localhost:5173

# JWT Secret (para sesiones futuras si se necesitan)
JWT_SECRET=tu_jwt_secret_aqui